body {
    padding-top: 70px;
    padding-bottom: 70px;
}
main {
    min-height: 100vh;
}
.survey-brand-logo {
    font-family: 'Bungee', cursive;
    font-size: 20px;
}

#googleMap {
    width: 100%;
    height: 500px;
}

div[id^=surveyQuestion-] {
    padding-top: 10px;
}